/*
    Crayola Colors
    List of 186 Crayola crayon colors for web

    .cr-color-name for {color: #hex;}
    .cr-bg-color-name for {background-color: #hex;}
    .cr-border-color-name for {border-color: #hex;}
    .cr-fill-color-name for {fill: #hex;}
    .cr-stroke-color-name for {stroke: #hex;}

    Source: https://en.wikipedia.org/wiki/List_of_Crayola_crayon_colors
    Source: http://www.crayola.com/explore-colors/
 */

/* Colors */
.cr-red {color: #ed0a3f;}
.cr-maroon {color: #c32148;}
.cr-scarlet {color: #fd0e35;}
.cr-brick-red {color: #c62d42;}
.cr-english-vermilion {color: #cc474b;}
.cr-madder-lake {color: #cc3336;}
.cr-permanent-geranium-lake {color: #e12c2c;}
.cr-maximum-red {color: #d92121;}
.cr-indian-red {color: #b94e48;}
.cr-orange-red {color: #ff5349;}
.cr-sunset-orange {color: #fe4c40;}
.cr-bittersweet {color: #fe6f5e;}
.cr-dark-venetian-red {color: #b33b24;}
.cr-venetian-red {color: #cc553d;}
.cr-light-venetian-red {color: #e6735c;}
.cr-vivid-tangerine {color: #ff9980;}
.cr-middle-red {color: #e58e73;}
.cr-burnt-orange {color: #ff7f49;}
.cr-red-orange {color: #ff681f;}
.cr-orange {color: #ff8833;}
.cr-macaroni-and-cheese {color: #ffb97b;}
.cr-middle-yellow-red {color: #ecb176;}
.cr-mango-tango {color: #e77200;}
.cr-yellow-orange {color: #ffae42;}
.cr-maximum-yellow-red {color: #f2ba49;}
.cr-banana-mania {color: #fbe7b2;}
.cr-maize {color: #f2c649;}
.cr-orange-yellow {color: #f8d568;}
.cr-goldenrod {color: #fcd667;}
.cr-dandelion {color: #fed85d;}
.cr-yellow {color: #fbe870;}
.cr-green-yellow {color: #f1e788;}
.cr-middle-yellow {color: #ffeb00;}
.cr-olive-green {color: #b5b35c;}
.cr-spring-green {color: #ecebbd;}
.cr-maximum-yellow {color: #fafa37;}
.cr-canary {color: #ffff99;}
.cr-lemon-yellow {color: #ffff9f;}
.cr-maximum-green-yellow {color: #d9e650;}
.cr-middle-green-yellow {color: #acbf60;}
.cr-inchworm {color: #afe313;}
.cr-light-chrome-green {color: #bee64b;}
.cr-yellow-green {color: #c5e17a;}
.cr-maximum-green {color: #5e8c31;}
.cr-asparagus {color: #7ba05b;}
.cr-granny-smith-apple {color: #9de093;}
.cr-fern {color: #63b76c;}
.cr-middle-green {color: #4d8c57;}
.cr-green {color: #3aa655;}
.cr-medium-chrome-green {color: #6ca67c;}
.cr-forest-green {color: #5fa777;}
.cr-sea-green {color: #93dfb8;}
.cr-shamrock {color: #33cc99;}
.cr-mountain-meadow {color: #1ab385;}
.cr-jungle-green {color: #29ab87;}
.cr-caribbean-green {color: #00cc99;}
.cr-tropical-rain-forest {color: #00755e;}
.cr-middle-blue-green {color: #8dd9cc;}
.cr-pine-green {color: #01786f;}
.cr-maximum-blue-green {color: #30bfbf;}
.cr-robins-egg-blue {color: #00cccc;}
.cr-teal-blue {color: #008080;}
.cr-light-blue {color: #8fd8d8;}
.cr-aquamarine {color: #95e0e8;}
.cr-turquoise-blue {color: #6cdae7;}
.cr-outer-space {color: #2d383a;}
.cr-sky-blue {color: #76d7ea;}
.cr-middle-blue {color: #7ed4e6;}
.cr-blue-green {color: #0095b7;}
.cr-pacific-blue {color: #009dc4;}
.cr-cerulean {color: #02a4d3;}
.cr-maximum-blue {color: #47abcc;}
.cr-cerulean-blue {color: #339acc;}
.cr-cornflower {color: #93ccea;}
.cr-green-blue {color: #2887c8;}
.cr-midnight-blue {color: #00468c;}
.cr-navy-blue {color: #0066cc;}
.cr-denim {color: #1560bd;}
.cr-blue {color: #0066ff;}
.cr-cadet-blue {color: #a9b2c3;}
.cr-periwinkle {color: #c3cde6;}
.cr-wild-blue-yonder {color: #7a89b8;}
.cr-indigo {color: #4f69c6;}
.cr-manatee {color: #8d90a1;}
.cr-cobalt-blue {color: #8c90c8;}
.cr-celestial-blue {color: #7070cc;}
.cr-blue-bell {color: #9999cc;}
.cr-maximum-blue-purple {color: #acace6;}
.cr-violet-blue {color: #766ec8;}
.cr-blue-violet {color: #6456b7;}
.cr-ultramarine-blue {color: #3f26bf;}
.cr-middle-blue-purple {color: #8b72be;}
.cr-purple-heart {color: #652dc1;}
.cr-royal-purple {color: #6b3fa0;}
.cr-medium-violet {color: #8f47b3;}
.cr-wisteria {color: #c9a0dc;}
.cr-vivid-violet {color: #803790;}
.cr-maximum-purple {color: #733380;}
.cr-purple-mountains-majesty {color: #d6aedd;}
.cr-fuchsia {color: #c154c1;}
.cr-pink-flamingo {color: #fc74fd;}
.cr-brilliant-rose {color: #e667ce;}
.cr-orchid {color: #e29cd2;}
.cr-plum {color: #8e3179;}
.cr-medium-rose {color: #d96cbe;}
.cr-thistle {color: #ebb0d7;}
.cr-mulberry {color: #c8509b;}
.cr-red-violet {color: #bb3385;}
.cr-middle-purple {color: #d982b5;}
.cr-maximum-red-purple {color: #a63a79;}
.cr-jazzberry-jam {color: #a50b5e;}
.cr-eggplant {color: #614051;}
.cr-magenta {color: #f653a6;}
.cr-cerise {color: #da3287;}
.cr-wild-strawberry {color: #ff3399;}
.cr-lavender {color: #fbaed2;}
.cr-cotton-candy {color: #ffb7d5;}
.cr-carnation-pink {color: #ffa6c9;}
.cr-violet-red {color: #f7468a;}
.cr-razzmatazz {color: #e30b5c;}
.cr-pig-pink {color: #fdd7e4;}
.cr-carmine {color: #e62e6b;}
.cr-blush {color: #db5079;}
.cr-tickle-me-pink {color: #fc80a5;}
.cr-mauvelous {color: #f091a9;}
.cr-salmon {color: #ff91a4;}
.cr-middle-red-purple {color: #a55353;}
.cr-mahogany {color: #ca3435;}
.cr-melon {color: #febaad;}
.cr-pink-sherbert {color: #f7a38e;}
.cr-burnt-sienna {color: #e97451;}
.cr-brown {color: #af593e;}
.cr-sepia {color: #9e5b40;}
.cr-fuzzy-wuzzy {color: #87421f;}
.cr-beaver {color: #926f5b;}
.cr-tumbleweed {color: #dea681;}
.cr-raw-sienna {color: #d27d46;}
.cr-van-dyke-brown {color: #664228;}
.cr-tan {color: #d99a6c;}
.cr-desert-sand {color: #edc9af;}
.cr-peach {color: #ffcba4;}
.cr-burnt-umber {color: #805533;}
.cr-apricot {color: #fdd5b1;}
.cr-almond {color: #eed9c4;}
.cr-raw-umber {color: #665233;}
.cr-shadow {color: #837050;}
.cr-timberwolf {color: #d9d6cf;}
.cr-gold {color: #e6be8a;}
.cr-silver {color: #c9c0bb;}
.cr-copper {color: #da8a67;}
.cr-antique-brass {color: #c88a65;}
.cr-black {color: #000000;}
.cr-charcoal-gray {color: #736a62;}
.cr-gray {color: #8b8680;}
.cr-blue-gray {color: #c8c8cd;}
.cr-white {color: #ffffff;}
.cr-radical-red {color: #ff355e;}
.cr-wild-watermelon {color: #fd5b78;}
.cr-outrageous-orange {color: #ff6037;}
.cr-atomic-tangerine {color: #ff9966;}
.cr-neon-carrot {color: #ff9933;}
.cr-sunglow {color: #ffcc33;}
.cr-laser-lemon {color: #ffff66;}
.cr-unmellow-yellow {color: #ffff66;}
.cr-electric-lime {color: #ccff00;}
.cr-screamin-green {color: #66ff66;}
.cr-magic-mint {color: #aaf0d1;}
.cr-blizzard-blue {color: #50bfe6;}
.cr-shocking-pink {color: #ff6eff;}
.cr-razzle-dazzle-rose {color: #ee34d2;}
.cr-hot-magenta {color: #ff00cc;}
.cr-purple-pizzazz {color: #ff00cc;}

/* Backgrounds */

.cr-bg-red {background-color: #ed0a3f;}
.cr-bg-maroon {background-color: #c32148;}
.cr-bg-scarlet {background-color: #fd0e35;}
.cr-bg-brick-red {background-color: #c62d42;}
.cr-bg-english-vermilion {background-color: #cc474b;}
.cr-bg-madder-lake {background-color: #cc3336;}
.cr-bg-permanent-geranium-lake {background-color: #e12c2c;}
.cr-bg-maximum-red {background-color: #d92121;}
.cr-bg-indian-red {background-color: #b94e48;}
.cr-bg-orange-red {background-color: #ff5349;}
.cr-bg-sunset-orange {background-color: #fe4c40;}
.cr-bg-bittersweet {background-color: #fe6f5e;}
.cr-bg-dark-venetian-red {background-color: #b33b24;}
.cr-bg-venetian-red {background-color: #cc553d;}
.cr-bg-light-venetian-red {background-color: #e6735c;}
.cr-bg-vivid-tangerine {background-color: #ff9980;}
.cr-bg-middle-red {background-color: #e58e73;}
.cr-bg-burnt-orange {background-color: #ff7f49;}
.cr-bg-red-orange {background-color: #ff681f;}
.cr-bg-orange {background-color: #ff8833;}
.cr-bg-macaroni-and-cheese {background-color: #ffb97b;}
.cr-bg-middle-yellow-red {background-color: #ecb176;}
.cr-bg-mango-tango {background-color: #e77200;}
.cr-bg-yellow-orange {background-color: #ffae42;}
.cr-bg-maximum-yellow-red {background-color: #f2ba49;}
.cr-bg-banana-mania {background-color: #fbe7b2;}
.cr-bg-maize {background-color: #f2c649;}
.cr-bg-orange-yellow {background-color: #f8d568;}
.cr-bg-goldenrod {background-color: #fcd667;}
.cr-bg-dandelion {background-color: #fed85d;}
.cr-bg-yellow {background-color: #fbe870;}
.cr-bg-green-yellow {background-color: #f1e788;}
.cr-bg-middle-yellow {background-color: #ffeb00;}
.cr-bg-olive-green {background-color: #b5b35c;}
.cr-bg-spring-green {background-color: #ecebbd;}
.cr-bg-maximum-yellow {background-color: #fafa37;}
.cr-bg-canary {background-color: #ffff99;}
.cr-bg-lemon-yellow {background-color: #ffff9f;}
.cr-bg-maximum-green-yellow {background-color: #d9e650;}
.cr-bg-middle-green-yellow {background-color: #acbf60;}
.cr-bg-inchworm {background-color: #afe313;}
.cr-bg-light-chrome-green {background-color: #bee64b;}
.cr-bg-yellow-green {background-color: #c5e17a;}
.cr-bg-maximum-green {background-color: #5e8c31;}
.cr-bg-asparagus {background-color: #7ba05b;}
.cr-bg-granny-smith-apple {background-color: #9de093;}
.cr-bg-fern {background-color: #63b76c;}
.cr-bg-middle-green {background-color: #4d8c57;}
.cr-bg-green {background-color: #3aa655;}
.cr-bg-medium-chrome-green {background-color: #6ca67c;}
.cr-bg-forest-green {background-color: #5fa777;}
.cr-bg-sea-green {background-color: #93dfb8;}
.cr-bg-shamrock {background-color: #33cc99;}
.cr-bg-mountain-meadow {background-color: #1ab385;}
.cr-bg-jungle-green {background-color: #29ab87;}
.cr-bg-caribbean-green {background-color: #00cc99;}
.cr-bg-tropical-rain-forest {background-color: #00755e;}
.cr-bg-middle-blue-green {background-color: #8dd9cc;}
.cr-bg-pine-green {background-color: #01786f;}
.cr-bg-maximum-blue-green {background-color: #30bfbf;}
.cr-bg-robins-egg-blue {background-color: #00cccc;}
.cr-bg-teal-blue {background-color: #008080;}
.cr-bg-light-blue {background-color: #8fd8d8;}
.cr-bg-aquamarine {background-color: #95e0e8;}
.cr-bg-turquoise-blue {background-color: #6cdae7;}
.cr-bg-outer-space {background-color: #2d383a;}
.cr-bg-sky-blue {background-color: #76d7ea;}
.cr-bg-middle-blue {background-color: #7ed4e6;}
.cr-bg-blue-green {background-color: #0095b7;}
.cr-bg-pacific-blue {background-color: #009dc4;}
.cr-bg-cerulean {background-color: #02a4d3;}
.cr-bg-maximum-blue {background-color: #47abcc;}
.cr-bg-cerulean-blue {background-color: #339acc;}
.cr-bg-cornflower {background-color: #93ccea;}
.cr-bg-green-blue {background-color: #2887c8;}
.cr-bg-midnight-blue {background-color: #00468c;}
.cr-bg-navy-blue {background-color: #0066cc;}
.cr-bg-denim {background-color: #1560bd;}
.cr-bg-blue {background-color: #0066ff;}
.cr-bg-cadet-blue {background-color: #a9b2c3;}
.cr-bg-periwinkle {background-color: #c3cde6;}
.cr-bg-wild-blue-yonder {background-color: #7a89b8;}
.cr-bg-indigo {background-color: #4f69c6;}
.cr-bg-manatee {background-color: #8d90a1;}
.cr-bg-cobalt-blue {background-color: #8c90c8;}
.cr-bg-celestial-blue {background-color: #7070cc;}
.cr-bg-blue-bell {background-color: #9999cc;}
.cr-bg-maximum-blue-purple {background-color: #acace6;}
.cr-bg-violet-blue {background-color: #766ec8;}
.cr-bg-blue-violet {background-color: #6456b7;}
.cr-bg-ultramarine-blue {background-color: #3f26bf;}
.cr-bg-middle-blue-purple {background-color: #8b72be;}
.cr-bg-purple-heart {background-color: #652dc1;}
.cr-bg-royal-purple {background-color: #6b3fa0;}
.cr-bg-medium-violet {background-color: #8f47b3;}
.cr-bg-wisteria {background-color: #c9a0dc;}
.cr-bg-vivid-violet {background-color: #803790;}
.cr-bg-maximum-purple {background-color: #733380;}
.cr-bg-purple-mountains-majesty {background-color: #d6aedd;}
.cr-bg-fuchsia {background-color: #c154c1;}
.cr-bg-pink-flamingo {background-color: #fc74fd;}
.cr-bg-brilliant-rose {background-color: #e667ce;}
.cr-bg-orchid {background-color: #e29cd2;}
.cr-bg-plum {background-color: #8e3179;}
.cr-bg-medium-rose {background-color: #d96cbe;}
.cr-bg-thistle {background-color: #ebb0d7;}
.cr-bg-mulberry {background-color: #c8509b;}
.cr-bg-red-violet {background-color: #bb3385;}
.cr-bg-middle-purple {background-color: #d982b5;}
.cr-bg-maximum-red-purple {background-color: #a63a79;}
.cr-bg-jazzberry-jam {background-color: #a50b5e;}
.cr-bg-eggplant {background-color: #614051;}
.cr-bg-magenta {background-color: #f653a6;}
.cr-bg-cerise {background-color: #da3287;}
.cr-bg-wild-strawberry {background-color: #ff3399;}
.cr-bg-lavender {background-color: #fbaed2;}
.cr-bg-cotton-candy {background-color: #ffb7d5;}
.cr-bg-carnation-pink {background-color: #ffa6c9;}
.cr-bg-violet-red {background-color: #f7468a;}
.cr-bg-razzmatazz {background-color: #e30b5c;}
.cr-bg-pig-pink {background-color: #fdd7e4;}
.cr-bg-carmine {background-color: #e62e6b;}
.cr-bg-blush {background-color: #db5079;}
.cr-bg-tickle-me-pink {background-color: #fc80a5;}
.cr-bg-mauvelous {background-color: #f091a9;}
.cr-bg-salmon {background-color: #ff91a4;}
.cr-bg-middle-red-purple {background-color: #a55353;}
.cr-bg-mahogany {background-color: #ca3435;}
.cr-bg-melon {background-color: #febaad;}
.cr-bg-pink-sherbert {background-color: #f7a38e;}
.cr-bg-burnt-sienna {background-color: #e97451;}
.cr-bg-brown {background-color: #af593e;}
.cr-bg-sepia {background-color: #9e5b40;}
.cr-bg-fuzzy-wuzzy {background-color: #87421f;}
.cr-bg-beaver {background-color: #926f5b;}
.cr-bg-tumbleweed {background-color: #dea681;}
.cr-bg-raw-sienna {background-color: #d27d46;}
.cr-bg-van-dyke-brown {background-color: #664228;}
.cr-bg-tan {background-color: #d99a6c;}
.cr-bg-desert-sand {background-color: #edc9af;}
.cr-bg-peach {background-color: #ffcba4;}
.cr-bg-burnt-umber {background-color: #805533;}
.cr-bg-apricot {background-color: #fdd5b1;}
.cr-bg-almond {background-color: #eed9c4;}
.cr-bg-raw-umber {background-color: #665233;}
.cr-bg-shadow {background-color: #837050;}
.cr-bg-timberwolf {background-color: #d9d6cf;}
.cr-bg-gold {background-color: #e6be8a;}
.cr-bg-silver {background-color: #c9c0bb;}
.cr-bg-copper {background-color: #da8a67;}
.cr-bg-antique-brass {background-color: #c88a65;}
.cr-bg-black {background-color: #000000;}
.cr-bg-charcoal-gray {background-color: #736a62;}
.cr-bg-gray {background-color: #8b8680;}
.cr-bg-blue-gray {background-color: #c8c8cd;}
.cr-bg-white {background-color: #ffffff;}
.cr-bg-radical-red {background-color: #ff355e;}
.cr-bg-wild-watermelon {background-color: #fd5b78;}
.cr-bg-outrageous-orange {background-color: #ff6037;}
.cr-bg-atomic-tangerine {background-color: #ff9966;}
.cr-bg-neon-carrot {background-color: #ff9933;}
.cr-bg-sunglow {background-color: #ffcc33;}
.cr-bg-laser-lemon {background-color: #ffff66;}
.cr-bg-unmellow-yellow {background-color: #ffff66;}
.cr-bg-electric-lime {background-color: #ccff00;}
.cr-bg-screamin-green {background-color: #66ff66;}
.cr-bg-magic-mint {background-color: #aaf0d1;}
.cr-bg-blizzard-blue {background-color: #50bfe6;}
.cr-bg-shocking-pink {background-color: #ff6eff;}
.cr-bg-razzle-dazzle-rose {background-color: #ee34d2;}
.cr-bg-hot-magenta {background-color: #ff00cc;}
.cr-bg-purple-pizzazz {background-color: #ff00cc;}

/* Border colors */

.cr-border-red {border-color: #ed0a3f;}
.cr-border-maroon {border-color: #c32148;}
.cr-border-scarlet {border-color: #fd0e35;}
.cr-border-brick-red {border-color: #c62d42;}
.cr-border-english-vermilion {border-color: #cc474b;}
.cr-border-madder-lake {border-color: #cc3336;}
.cr-border-permanent-geranium-lake {border-color: #e12c2c;}
.cr-border-maximum-red {border-color: #d92121;}
.cr-border-indian-red {border-color: #b94e48;}
.cr-border-orange-red {border-color: #ff5349;}
.cr-border-sunset-orange {border-color: #fe4c40;}
.cr-border-bittersweet {border-color: #fe6f5e;}
.cr-border-dark-venetian-red {border-color: #b33b24;}
.cr-border-venetian-red {border-color: #cc553d;}
.cr-border-light-venetian-red {border-color: #e6735c;}
.cr-border-vivid-tangerine {border-color: #ff9980;}
.cr-border-middle-red {border-color: #e58e73;}
.cr-border-burnt-orange {border-color: #ff7f49;}
.cr-border-red-orange {border-color: #ff681f;}
.cr-border-orange {border-color: #ff8833;}
.cr-border-macaroni-and-cheese {border-color: #ffb97b;}
.cr-border-middle-yellow-red {border-color: #ecb176;}
.cr-border-mango-tango {border-color: #e77200;}
.cr-border-yellow-orange {border-color: #ffae42;}
.cr-border-maximum-yellow-red {border-color: #f2ba49;}
.cr-border-banana-mania {border-color: #fbe7b2;}
.cr-border-maize {border-color: #f2c649;}
.cr-border-orange-yellow {border-color: #f8d568;}
.cr-border-goldenrod {border-color: #fcd667;}
.cr-border-dandelion {border-color: #fed85d;}
.cr-border-yellow {border-color: #fbe870;}
.cr-border-green-yellow {border-color: #f1e788;}
.cr-border-middle-yellow {border-color: #ffeb00;}
.cr-border-olive-green {border-color: #b5b35c;}
.cr-border-spring-green {border-color: #ecebbd;}
.cr-border-maximum-yellow {border-color: #fafa37;}
.cr-border-canary {border-color: #ffff99;}
.cr-border-lemon-yellow {border-color: #ffff9f;}
.cr-border-maximum-green-yellow {border-color: #d9e650;}
.cr-border-middle-green-yellow {border-color: #acbf60;}
.cr-border-inchworm {border-color: #afe313;}
.cr-border-light-chrome-green {border-color: #bee64b;}
.cr-border-yellow-green {border-color: #c5e17a;}
.cr-border-maximum-green {border-color: #5e8c31;}
.cr-border-asparagus {border-color: #7ba05b;}
.cr-border-granny-smith-apple {border-color: #9de093;}
.cr-border-fern {border-color: #63b76c;}
.cr-border-middle-green {border-color: #4d8c57;}
.cr-border-green {border-color: #3aa655;}
.cr-border-medium-chrome-green {border-color: #6ca67c;}
.cr-border-forest-green {border-color: #5fa777;}
.cr-border-sea-green {border-color: #93dfb8;}
.cr-border-shamrock {border-color: #33cc99;}
.cr-border-mountain-meadow {border-color: #1ab385;}
.cr-border-jungle-green {border-color: #29ab87;}
.cr-border-caribbean-green {border-color: #00cc99;}
.cr-border-tropical-rain-forest {border-color: #00755e;}
.cr-border-middle-blue-green {border-color: #8dd9cc;}
.cr-border-pine-green {border-color: #01786f;}
.cr-border-maximum-blue-green {border-color: #30bfbf;}
.cr-border-robins-egg-blue {border-color: #00cccc;}
.cr-border-teal-blue {border-color: #008080;}
.cr-border-light-blue {border-color: #8fd8d8;}
.cr-border-aquamarine {border-color: #95e0e8;}
.cr-border-turquoise-blue {border-color: #6cdae7;}
.cr-border-outer-space {border-color: #2d383a;}
.cr-border-sky-blue {border-color: #76d7ea;}
.cr-border-middle-blue {border-color: #7ed4e6;}
.cr-border-blue-green {border-color: #0095b7;}
.cr-border-pacific-blue {border-color: #009dc4;}
.cr-border-cerulean {border-color: #02a4d3;}
.cr-border-maximum-blue {border-color: #47abcc;}
.cr-border-cerulean-blue {border-color: #339acc;}
.cr-border-cornflower {border-color: #93ccea;}
.cr-border-green-blue {border-color: #2887c8;}
.cr-border-midnight-blue {border-color: #00468c;}
.cr-border-navy-blue {border-color: #0066cc;}
.cr-border-denim {border-color: #1560bd;}
.cr-border-blue {border-color: #0066ff;}
.cr-border-cadet-blue {border-color: #a9b2c3;}
.cr-border-periwinkle {border-color: #c3cde6;}
.cr-border-wild-blue-yonder {border-color: #7a89b8;}
.cr-border-indigo {border-color: #4f69c6;}
.cr-border-manatee {border-color: #8d90a1;}
.cr-border-cobalt-blue {border-color: #8c90c8;}
.cr-border-celestial-blue {border-color: #7070cc;}
.cr-border-blue-bell {border-color: #9999cc;}
.cr-border-maximum-blue-purple {border-color: #acace6;}
.cr-border-violet-blue {border-color: #766ec8;}
.cr-border-blue-violet {border-color: #6456b7;}
.cr-border-ultramarine-blue {border-color: #3f26bf;}
.cr-border-middle-blue-purple {border-color: #8b72be;}
.cr-border-purple-heart {border-color: #652dc1;}
.cr-border-royal-purple {border-color: #6b3fa0;}
.cr-border-medium-violet {border-color: #8f47b3;}
.cr-border-wisteria {border-color: #c9a0dc;}
.cr-border-vivid-violet {border-color: #803790;}
.cr-border-maximum-purple {border-color: #733380;}
.cr-border-purple-mountains-majesty {border-color: #d6aedd;}
.cr-border-fuchsia {border-color: #c154c1;}
.cr-border-pink-flamingo {border-color: #fc74fd;}
.cr-border-brilliant-rose {border-color: #e667ce;}
.cr-border-orchid {border-color: #e29cd2;}
.cr-border-plum {border-color: #8e3179;}
.cr-border-medium-rose {border-color: #d96cbe;}
.cr-border-thistle {border-color: #ebb0d7;}
.cr-border-mulberry {border-color: #c8509b;}
.cr-border-red-violet {border-color: #bb3385;}
.cr-border-middle-purple {border-color: #d982b5;}
.cr-border-maximum-red-purple {border-color: #a63a79;}
.cr-border-jazzberry-jam {border-color: #a50b5e;}
.cr-border-eggplant {border-color: #614051;}
.cr-border-magenta {border-color: #f653a6;}
.cr-border-cerise {border-color: #da3287;}
.cr-border-wild-strawberry {border-color: #ff3399;}
.cr-border-lavender {border-color: #fbaed2;}
.cr-border-cotton-candy {border-color: #ffb7d5;}
.cr-border-carnation-pink {border-color: #ffa6c9;}
.cr-border-violet-red {border-color: #f7468a;}
.cr-border-razzmatazz {border-color: #e30b5c;}
.cr-border-pig-pink {border-color: #fdd7e4;}
.cr-border-carmine {border-color: #e62e6b;}
.cr-border-blush {border-color: #db5079;}
.cr-border-tickle-me-pink {border-color: #fc80a5;}
.cr-border-mauvelous {border-color: #f091a9;}
.cr-border-salmon {border-color: #ff91a4;}
.cr-border-middle-red-purple {border-color: #a55353;}
.cr-border-mahogany {border-color: #ca3435;}
.cr-border-melon {border-color: #febaad;}
.cr-border-pink-sherbert {border-color: #f7a38e;}
.cr-border-burnt-sienna {border-color: #e97451;}
.cr-border-brown {border-color: #af593e;}
.cr-border-sepia {border-color: #9e5b40;}
.cr-border-fuzzy-wuzzy {border-color: #87421f;}
.cr-border-beaver {border-color: #926f5b;}
.cr-border-tumbleweed {border-color: #dea681;}
.cr-border-raw-sienna {border-color: #d27d46;}
.cr-border-van-dyke-brown {border-color: #664228;}
.cr-border-tan {border-color: #d99a6c;}
.cr-border-desert-sand {border-color: #edc9af;}
.cr-border-peach {border-color: #ffcba4;}
.cr-border-burnt-umber {border-color: #805533;}
.cr-border-apricot {border-color: #fdd5b1;}
.cr-border-almond {border-color: #eed9c4;}
.cr-border-raw-umber {border-color: #665233;}
.cr-border-shadow {border-color: #837050;}
.cr-border-timberwolf {border-color: #d9d6cf;}
.cr-border-gold {border-color: #e6be8a;}
.cr-border-silver {border-color: #c9c0bb;}
.cr-border-copper {border-color: #da8a67;}
.cr-border-antique-brass {border-color: #c88a65;}
.cr-border-black {border-color: #000000;}
.cr-border-charcoal-gray {border-color: #736a62;}
.cr-border-gray {border-color: #8b8680;}
.cr-border-blue-gray {border-color: #c8c8cd;}
.cr-border-white {border-color: #ffffff;}
.cr-border-radical-red {border-color: #ff355e;}
.cr-border-wild-watermelon {border-color: #fd5b78;}
.cr-border-outrageous-orange {border-color: #ff6037;}
.cr-border-atomic-tangerine {border-color: #ff9966;}
.cr-border-neon-carrot {border-color: #ff9933;}
.cr-border-sunglow {border-color: #ffcc33;}
.cr-border-laser-lemon {border-color: #ffff66;}
.cr-border-unmellow-yellow {border-color: #ffff66;}
.cr-border-electric-lime {border-color: #ccff00;}
.cr-border-screamin-green {border-color: #66ff66;}
.cr-border-magic-mint {border-color: #aaf0d1;}
.cr-border-blizzard-blue {border-color: #50bfe6;}
.cr-border-shocking-pink {border-color: #ff6eff;}
.cr-border-razzle-dazzle-rose {border-color: #ee34d2;}
.cr-border-hot-magenta {border-color: #ff00cc;}
.cr-border-purple-pizzazz {border-color: #ff00cc;}

/* Fill colors for SVG */

.cr-fill-red {fill: #ed0a3f;}
.cr-fill-maroon {fill: #c32148;}
.cr-fill-scarlet {fill: #fd0e35;}
.cr-fill-brick-red {fill: #c62d42;}
.cr-fill-english-vermilion {fill: #cc474b;}
.cr-fill-madder-lake {fill: #cc3336;}
.cr-fill-permanent-geranium-lake {fill: #e12c2c;}
.cr-fill-maximum-red {fill: #d92121;}
.cr-fill-indian-red {fill: #b94e48;}
.cr-fill-orange-red {fill: #ff5349;}
.cr-fill-sunset-orange {fill: #fe4c40;}
.cr-fill-bittersweet {fill: #fe6f5e;}
.cr-fill-dark-venetian-red {fill: #b33b24;}
.cr-fill-venetian-red {fill: #cc553d;}
.cr-fill-light-venetian-red {fill: #e6735c;}
.cr-fill-vivid-tangerine {fill: #ff9980;}
.cr-fill-middle-red {fill: #e58e73;}
.cr-fill-burnt-orange {fill: #ff7f49;}
.cr-fill-red-orange {fill: #ff681f;}
.cr-fill-orange {fill: #ff8833;}
.cr-fill-macaroni-and-cheese {fill: #ffb97b;}
.cr-fill-middle-yellow-red {fill: #ecb176;}
.cr-fill-mango-tango {fill: #e77200;}
.cr-fill-yellow-orange {fill: #ffae42;}
.cr-fill-maximum-yellow-red {fill: #f2ba49;}
.cr-fill-banana-mania {fill: #fbe7b2;}
.cr-fill-maize {fill: #f2c649;}
.cr-fill-orange-yellow {fill: #f8d568;}
.cr-fill-goldenrod {fill: #fcd667;}
.cr-fill-dandelion {fill: #fed85d;}
.cr-fill-yellow {fill: #fbe870;}
.cr-fill-green-yellow {fill: #f1e788;}
.cr-fill-middle-yellow {fill: #ffeb00;}
.cr-fill-olive-green {fill: #b5b35c;}
.cr-fill-spring-green {fill: #ecebbd;}
.cr-fill-maximum-yellow {fill: #fafa37;}
.cr-fill-canary {fill: #ffff99;}
.cr-fill-lemon-yellow {fill: #ffff9f;}
.cr-fill-maximum-green-yellow {fill: #d9e650;}
.cr-fill-middle-green-yellow {fill: #acbf60;}
.cr-fill-inchworm {fill: #afe313;}
.cr-fill-light-chrome-green {fill: #bee64b;}
.cr-fill-yellow-green {fill: #c5e17a;}
.cr-fill-maximum-green {fill: #5e8c31;}
.cr-fill-asparagus {fill: #7ba05b;}
.cr-fill-granny-smith-apple {fill: #9de093;}
.cr-fill-fern {fill: #63b76c;}
.cr-fill-middle-green {fill: #4d8c57;}
.cr-fill-green {fill: #3aa655;}
.cr-fill-medium-chrome-green {fill: #6ca67c;}
.cr-fill-forest-green {fill: #5fa777;}
.cr-fill-sea-green {fill: #93dfb8;}
.cr-fill-shamrock {fill: #33cc99;}
.cr-fill-mountain-meadow {fill: #1ab385;}
.cr-fill-jungle-green {fill: #29ab87;}
.cr-fill-caribbean-green {fill: #00cc99;}
.cr-fill-tropical-rain-forest {fill: #00755e;}
.cr-fill-middle-blue-green {fill: #8dd9cc;}
.cr-fill-pine-green {fill: #01786f;}
.cr-fill-maximum-blue-green {fill: #30bfbf;}
.cr-fill-robins-egg-blue {fill: #00cccc;}
.cr-fill-teal-blue {fill: #008080;}
.cr-fill-light-blue {fill: #8fd8d8;}
.cr-fill-aquamarine {fill: #95e0e8;}
.cr-fill-turquoise-blue {fill: #6cdae7;}
.cr-fill-outer-space {fill: #2d383a;}
.cr-fill-sky-blue {fill: #76d7ea;}
.cr-fill-middle-blue {fill: #7ed4e6;}
.cr-fill-blue-green {fill: #0095b7;}
.cr-fill-pacific-blue {fill: #009dc4;}
.cr-fill-cerulean {fill: #02a4d3;}
.cr-fill-maximum-blue {fill: #47abcc;}
.cr-fill-cerulean-blue {fill: #339acc;}
.cr-fill-cornflower {fill: #93ccea;}
.cr-fill-green-blue {fill: #2887c8;}
.cr-fill-midnight-blue {fill: #00468c;}
.cr-fill-navy-blue {fill: #0066cc;}
.cr-fill-denim {fill: #1560bd;}
.cr-fill-blue {fill: #0066ff;}
.cr-fill-cadet-blue {fill: #a9b2c3;}
.cr-fill-periwinkle {fill: #c3cde6;}
.cr-fill-wild-blue-yonder {fill: #7a89b8;}
.cr-fill-indigo {fill: #4f69c6;}
.cr-fill-manatee {fill: #8d90a1;}
.cr-fill-cobalt-blue {fill: #8c90c8;}
.cr-fill-celestial-blue {fill: #7070cc;}
.cr-fill-blue-bell {fill: #9999cc;}
.cr-fill-maximum-blue-purple {fill: #acace6;}
.cr-fill-violet-blue {fill: #766ec8;}
.cr-fill-blue-violet {fill: #6456b7;}
.cr-fill-ultramarine-blue {fill: #3f26bf;}
.cr-fill-middle-blue-purple {fill: #8b72be;}
.cr-fill-purple-heart {fill: #652dc1;}
.cr-fill-royal-purple {fill: #6b3fa0;}
.cr-fill-medium-violet {fill: #8f47b3;}
.cr-fill-wisteria {fill: #c9a0dc;}
.cr-fill-vivid-violet {fill: #803790;}
.cr-fill-maximum-purple {fill: #733380;}
.cr-fill-purple-mountains-majesty {fill: #d6aedd;}
.cr-fill-fuchsia {fill: #c154c1;}
.cr-fill-pink-flamingo {fill: #fc74fd;}
.cr-fill-brilliant-rose {fill: #e667ce;}
.cr-fill-orchid {fill: #e29cd2;}
.cr-fill-plum {fill: #8e3179;}
.cr-fill-medium-rose {fill: #d96cbe;}
.cr-fill-thistle {fill: #ebb0d7;}
.cr-fill-mulberry {fill: #c8509b;}
.cr-fill-red-violet {fill: #bb3385;}
.cr-fill-middle-purple {fill: #d982b5;}
.cr-fill-maximum-red-purple {fill: #a63a79;}
.cr-fill-jazzberry-jam {fill: #a50b5e;}
.cr-fill-eggplant {fill: #614051;}
.cr-fill-magenta {fill: #f653a6;}
.cr-fill-cerise {fill: #da3287;}
.cr-fill-wild-strawberry {fill: #ff3399;}
.cr-fill-lavender {fill: #fbaed2;}
.cr-fill-cotton-candy {fill: #ffb7d5;}
.cr-fill-carnation-pink {fill: #ffa6c9;}
.cr-fill-violet-red {fill: #f7468a;}
.cr-fill-razzmatazz {fill: #e30b5c;}
.cr-fill-pig-pink {fill: #fdd7e4;}
.cr-fill-carmine {fill: #e62e6b;}
.cr-fill-blush {fill: #db5079;}
.cr-fill-tickle-me-pink {fill: #fc80a5;}
.cr-fill-mauvelous {fill: #f091a9;}
.cr-fill-salmon {fill: #ff91a4;}
.cr-fill-middle-red-purple {fill: #a55353;}
.cr-fill-mahogany {fill: #ca3435;}
.cr-fill-melon {fill: #febaad;}
.cr-fill-pink-sherbert {fill: #f7a38e;}
.cr-fill-burnt-sienna {fill: #e97451;}
.cr-fill-brown {fill: #af593e;}
.cr-fill-sepia {fill: #9e5b40;}
.cr-fill-fuzzy-wuzzy {fill: #87421f;}
.cr-fill-beaver {fill: #926f5b;}
.cr-fill-tumbleweed {fill: #dea681;}
.cr-fill-raw-sienna {fill: #d27d46;}
.cr-fill-van-dyke-brown {fill: #664228;}
.cr-fill-tan {fill: #d99a6c;}
.cr-fill-desert-sand {fill: #edc9af;}
.cr-fill-peach {fill: #ffcba4;}
.cr-fill-burnt-umber {fill: #805533;}
.cr-fill-apricot {fill: #fdd5b1;}
.cr-fill-almond {fill: #eed9c4;}
.cr-fill-raw-umber {fill: #665233;}
.cr-fill-shadow {fill: #837050;}
.cr-fill-timberwolf {fill: #d9d6cf;}
.cr-fill-gold {fill: #e6be8a;}
.cr-fill-silver {fill: #c9c0bb;}
.cr-fill-copper {fill: #da8a67;}
.cr-fill-antique-brass {fill: #c88a65;}
.cr-fill-black {fill: #000000;}
.cr-fill-charcoal-gray {fill: #736a62;}
.cr-fill-gray {fill: #8b8680;}
.cr-fill-blue-gray {fill: #c8c8cd;}
.cr-fill-white {fill: #ffffff;}
.cr-fill-radical-red {fill: #ff355e;}
.cr-fill-wild-watermelon {fill: #fd5b78;}
.cr-fill-outrageous-orange {fill: #ff6037;}
.cr-fill-atomic-tangerine {fill: #ff9966;}
.cr-fill-neon-carrot {fill: #ff9933;}
.cr-fill-sunglow {fill: #ffcc33;}
.cr-fill-laser-lemon {fill: #ffff66;}
.cr-fill-unmellow-yellow {fill: #ffff66;}
.cr-fill-electric-lime {fill: #ccff00;}
.cr-fill-screamin-green {fill: #66ff66;}
.cr-fill-magic-mint {fill: #aaf0d1;}
.cr-fill-blizzard-blue {fill: #50bfe6;}
.cr-fill-shocking-pink {fill: #ff6eff;}
.cr-fill-razzle-dazzle-rose {fill: #ee34d2;}
.cr-fill-hot-magenta {fill: #ff00cc;}
.cr-fill-purple-pizzazz {fill: #ff00cc;}

/* Stroke colors for SVG */

.cr-stroke-red {stroke: #ed0a3f;}
.cr-stroke-maroon {stroke: #c32148;}
.cr-stroke-scarlet {stroke: #fd0e35;}
.cr-stroke-brick-red {stroke: #c62d42;}
.cr-stroke-english-vermilion {stroke: #cc474b;}
.cr-stroke-madder-lake {stroke: #cc3336;}
.cr-stroke-permanent-geranium-lake {stroke: #e12c2c;}
.cr-stroke-maximum-red {stroke: #d92121;}
.cr-stroke-indian-red {stroke: #b94e48;}
.cr-stroke-orange-red {stroke: #ff5349;}
.cr-stroke-sunset-orange {stroke: #fe4c40;}
.cr-stroke-bittersweet {stroke: #fe6f5e;}
.cr-stroke-dark-venetian-red {stroke: #b33b24;}
.cr-stroke-venetian-red {stroke: #cc553d;}
.cr-stroke-light-venetian-red {stroke: #e6735c;}
.cr-stroke-vivid-tangerine {stroke: #ff9980;}
.cr-stroke-middle-red {stroke: #e58e73;}
.cr-stroke-burnt-orange {stroke: #ff7f49;}
.cr-stroke-red-orange {stroke: #ff681f;}
.cr-stroke-orange {stroke: #ff8833;}
.cr-stroke-macaroni-and-cheese {stroke: #ffb97b;}
.cr-stroke-middle-yellow-red {stroke: #ecb176;}
.cr-stroke-mango-tango {stroke: #e77200;}
.cr-stroke-yellow-orange {stroke: #ffae42;}
.cr-stroke-maximum-yellow-red {stroke: #f2ba49;}
.cr-stroke-banana-mania {stroke: #fbe7b2;}
.cr-stroke-maize {stroke: #f2c649;}
.cr-stroke-orange-yellow {stroke: #f8d568;}
.cr-stroke-goldenrod {stroke: #fcd667;}
.cr-stroke-dandelion {stroke: #fed85d;}
.cr-stroke-yellow {stroke: #fbe870;}
.cr-stroke-green-yellow {stroke: #f1e788;}
.cr-stroke-middle-yellow {stroke: #ffeb00;}
.cr-stroke-olive-green {stroke: #b5b35c;}
.cr-stroke-spring-green {stroke: #ecebbd;}
.cr-stroke-maximum-yellow {stroke: #fafa37;}
.cr-stroke-canary {stroke: #ffff99;}
.cr-stroke-lemon-yellow {stroke: #ffff9f;}
.cr-stroke-maximum-green-yellow {stroke: #d9e650;}
.cr-stroke-middle-green-yellow {stroke: #acbf60;}
.cr-stroke-inchworm {stroke: #afe313;}
.cr-stroke-light-chrome-green {stroke: #bee64b;}
.cr-stroke-yellow-green {stroke: #c5e17a;}
.cr-stroke-maximum-green {stroke: #5e8c31;}
.cr-stroke-asparagus {stroke: #7ba05b;}
.cr-stroke-granny-smith-apple {stroke: #9de093;}
.cr-stroke-fern {stroke: #63b76c;}
.cr-stroke-middle-green {stroke: #4d8c57;}
.cr-stroke-green {stroke: #3aa655;}
.cr-stroke-medium-chrome-green {stroke: #6ca67c;}
.cr-stroke-forest-green {stroke: #5fa777;}
.cr-stroke-sea-green {stroke: #93dfb8;}
.cr-stroke-shamrock {stroke: #33cc99;}
.cr-stroke-mountain-meadow {stroke: #1ab385;}
.cr-stroke-jungle-green {stroke: #29ab87;}
.cr-stroke-caribbean-green {stroke: #00cc99;}
.cr-stroke-tropical-rain-forest {stroke: #00755e;}
.cr-stroke-middle-blue-green {stroke: #8dd9cc;}
.cr-stroke-pine-green {stroke: #01786f;}
.cr-stroke-maximum-blue-green {stroke: #30bfbf;}
.cr-stroke-robins-egg-blue {stroke: #00cccc;}
.cr-stroke-teal-blue {stroke: #008080;}
.cr-stroke-light-blue {stroke: #8fd8d8;}
.cr-stroke-aquamarine {stroke: #95e0e8;}
.cr-stroke-turquoise-blue {stroke: #6cdae7;}
.cr-stroke-outer-space {stroke: #2d383a;}
.cr-stroke-sky-blue {stroke: #76d7ea;}
.cr-stroke-middle-blue {stroke: #7ed4e6;}
.cr-stroke-blue-green {stroke: #0095b7;}
.cr-stroke-pacific-blue {stroke: #009dc4;}
.cr-stroke-cerulean {stroke: #02a4d3;}
.cr-stroke-maximum-blue {stroke: #47abcc;}
.cr-stroke-cerulean-blue {stroke: #339acc;}
.cr-stroke-cornflower {stroke: #93ccea;}
.cr-stroke-green-blue {stroke: #2887c8;}
.cr-stroke-midnight-blue {stroke: #00468c;}
.cr-stroke-navy-blue {stroke: #0066cc;}
.cr-stroke-denim {stroke: #1560bd;}
.cr-stroke-blue {stroke: #0066ff;}
.cr-stroke-cadet-blue {stroke: #a9b2c3;}
.cr-stroke-periwinkle {stroke: #c3cde6;}
.cr-stroke-wild-blue-yonder {stroke: #7a89b8;}
.cr-stroke-indigo {stroke: #4f69c6;}
.cr-stroke-manatee {stroke: #8d90a1;}
.cr-stroke-cobalt-blue {stroke: #8c90c8;}
.cr-stroke-celestial-blue {stroke: #7070cc;}
.cr-stroke-blue-bell {stroke: #9999cc;}
.cr-stroke-maximum-blue-purple {stroke: #acace6;}
.cr-stroke-violet-blue {stroke: #766ec8;}
.cr-stroke-blue-violet {stroke: #6456b7;}
.cr-stroke-ultramarine-blue {stroke: #3f26bf;}
.cr-stroke-middle-blue-purple {stroke: #8b72be;}
.cr-stroke-purple-heart {stroke: #652dc1;}
.cr-stroke-royal-purple {stroke: #6b3fa0;}
.cr-stroke-medium-violet {stroke: #8f47b3;}
.cr-stroke-wisteria {stroke: #c9a0dc;}
.cr-stroke-vivid-violet {stroke: #803790;}
.cr-stroke-maximum-purple {stroke: #733380;}
.cr-stroke-purple-mountains-majesty {stroke: #d6aedd;}
.cr-stroke-fuchsia {stroke: #c154c1;}
.cr-stroke-pink-flamingo {stroke: #fc74fd;}
.cr-stroke-brilliant-rose {stroke: #e667ce;}
.cr-stroke-orchid {stroke: #e29cd2;}
.cr-stroke-plum {stroke: #8e3179;}
.cr-stroke-medium-rose {stroke: #d96cbe;}
.cr-stroke-thistle {stroke: #ebb0d7;}
.cr-stroke-mulberry {stroke: #c8509b;}
.cr-stroke-red-violet {stroke: #bb3385;}
.cr-stroke-middle-purple {stroke: #d982b5;}
.cr-stroke-maximum-red-purple {stroke: #a63a79;}
.cr-stroke-jazzberry-jam {stroke: #a50b5e;}
.cr-stroke-eggplant {stroke: #614051;}
.cr-stroke-magenta {stroke: #f653a6;}
.cr-stroke-cerise {stroke: #da3287;}
.cr-stroke-wild-strawberry {stroke: #ff3399;}
.cr-stroke-lavender {stroke: #fbaed2;}
.cr-stroke-cotton-candy {stroke: #ffb7d5;}
.cr-stroke-carnation-pink {stroke: #ffa6c9;}
.cr-stroke-violet-red {stroke: #f7468a;}
.cr-stroke-razzmatazz {stroke: #e30b5c;}
.cr-stroke-pig-pink {stroke: #fdd7e4;}
.cr-stroke-carmine {stroke: #e62e6b;}
.cr-stroke-blush {stroke: #db5079;}
.cr-stroke-tickle-me-pink {stroke: #fc80a5;}
.cr-stroke-mauvelous {stroke: #f091a9;}
.cr-stroke-salmon {stroke: #ff91a4;}
.cr-stroke-middle-red-purple {stroke: #a55353;}
.cr-stroke-mahogany {stroke: #ca3435;}
.cr-stroke-melon {stroke: #febaad;}
.cr-stroke-pink-sherbert {stroke: #f7a38e;}
.cr-stroke-burnt-sienna {stroke: #e97451;}
.cr-stroke-brown {stroke: #af593e;}
.cr-stroke-sepia {stroke: #9e5b40;}
.cr-stroke-fuzzy-wuzzy {stroke: #87421f;}
.cr-stroke-beaver {stroke: #926f5b;}
.cr-stroke-tumbleweed {stroke: #dea681;}
.cr-stroke-raw-sienna {stroke: #d27d46;}
.cr-stroke-van-dyke-brown {stroke: #664228;}
.cr-stroke-tan {stroke: #d99a6c;}
.cr-stroke-desert-sand {stroke: #edc9af;}
.cr-stroke-peach {stroke: #ffcba4;}
.cr-stroke-burnt-umber {stroke: #805533;}
.cr-stroke-apricot {stroke: #fdd5b1;}
.cr-stroke-almond {stroke: #eed9c4;}
.cr-stroke-raw-umber {stroke: #665233;}
.cr-stroke-shadow {stroke: #837050;}
.cr-stroke-timberwolf {stroke: #d9d6cf;}
.cr-stroke-gold {stroke: #e6be8a;}
.cr-stroke-silver {stroke: #c9c0bb;}
.cr-stroke-copper {stroke: #da8a67;}
.cr-stroke-antique-brass {stroke: #c88a65;}
.cr-stroke-black {stroke: #000000;}
.cr-stroke-charcoal-gray {stroke: #736a62;}
.cr-stroke-gray {stroke: #8b8680;}
.cr-stroke-blue-gray {stroke: #c8c8cd;}
.cr-stroke-white {stroke: #ffffff;}
.cr-stroke-radical-red {stroke: #ff355e;}
.cr-stroke-wild-watermelon {stroke: #fd5b78;}
.cr-stroke-outrageous-orange {stroke: #ff6037;}
.cr-stroke-atomic-tangerine {stroke: #ff9966;}
.cr-stroke-neon-carrot {stroke: #ff9933;}
.cr-stroke-sunglow {stroke: #ffcc33;}
.cr-stroke-laser-lemon {stroke: #ffff66;}
.cr-stroke-unmellow-yellow {stroke: #ffff66;}
.cr-stroke-electric-lime {stroke: #ccff00;}
.cr-stroke-screamin-green {stroke: #66ff66;}
.cr-stroke-magic-mint {stroke: #aaf0d1;}
.cr-stroke-blizzard-blue {stroke: #50bfe6;}
.cr-stroke-shocking-pink {stroke: #ff6eff;}
.cr-stroke-razzle-dazzle-rose {stroke: #ee34d2;}
.cr-stroke-hot-magenta {stroke: #ff00cc;}
.cr-stroke-purple-pizzazz {stroke: #ff00cc;}
